.offcanvas-end {
    width: 230px;
}
.sidebar-container {
    background-color: gray;
}
.nav_icon_style {
    font-size: 18px;
    font-weight: 500;
    color: rgb(60, 60, 61) !important;
    margin-right: 25px;
}
.nav_icon_style:hover {
    font-size: 18px;
    font-weight: 500;
    margin-right: 25px;
    color: tomato !important;
}
.sidebar-style {
    color: tomato;
    margin-bottom: 3px;
    padding-left: 50px;
}
.sidebar-style p {
    border-bottom: 1px solid black;
    width: 110px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.sidebar-title {
    background-color: tomato;
    color: white;
}
